# ======================
# GLOBAL
# ======================
HOST_ADDRESS=localhost

# ======================
# POSTGRES
# ======================
POSTGRES_DB=litechess
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

# ======================
# PGADMIN
# ======================
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=password
PGADMIN_PORT=5433

# ======================
# KEYCLOAK
# ======================
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=password
KEYCLOAK_PORT=8000

# ======================
# MONGO
# ======================
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=password
MONGO_DATABASE=neochess
MONGO_PORT=27017

# ======================
# NGINX
# ======================
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
